@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

body {
  display: flex;
  flex-flow: column;
  min-width: 512px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, 'Segoe UI', sans-serif;
  font-size: 16px;
}

.form {
  &__label {
    line-height: 36px;
    & {
      line-height: 36px;
    }
  }
  &__input {
    appearance: none;
    border: 1px solid #333;
    background-color: #EEE;
    font-size: 13px;
    font-family: 'JetBrains Mono', monospace;
    width: 32px;
    height: 24px;
    outline: 2px solid transparent;
    &_error {
      border: 1px solid #B00000;
      outline: 2px solid #FF000080;
    }
  }
  &__label-error {
    white-space: pre-line;
  }
  &__submit {
    width:            140px;
    height:           28px;
    font-size:        15px;
    border-radius:    3px;
    background-color: #0099D0;
    color: white;
    font-weight: 500;
    border: 1px solid #005E83;
    &:disabled {
      color:            #aaa;
      background-color: #777;
      border-color: #555;
    }
  }
}
